body {
    display: flex;
    background-image: linear-gradient(to right, #acc9ff, #ccb1f7);
    justify-content: center;
    align-items: center;
}

.outside-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 7%;
    margin-top: 8%;
    border-radius: 15%;
    box-shadow: 10px 10px rgb(207, 207, 207);
}

.score {
    display: flex;
    margin-left: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.question {
    display: flex;
    margin-left: 30px;
    color: grey;
}

.input-container {
    display: flex;
    margin-left: 10px;
}

.answer {
    display: flex;
    margin-top: 15px;
    margin-left: 35px;
    background-color: rgb(109, 109, 255);
    color: white;
    margin-right: 40px;
    padding: 10px;
    border-radius: 10px;
}