body {
    display: flex;
    background-image: linear-gradient(to right, #acc9ff, #ccb1f7);
    justify-content: center;
    align-items: center;
}

.heading{
    align-self: center;
}

.outside-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 7%;
    margin-top: 8%;
    border-radius: 15%;
    box-shadow: 10px 10px 5px rgb(124, 124, 124);
}

.score {
    display: flex;
    align-self: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.question {
    display: flex;
    align-self: center;
    color: grey;
}

.input-container {
    display: flex;
    align-self: center;
}

.answer {
    display: flex;
    align-self: center;
    background-color: rgb(109, 109, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.answer:hover {
    background-color: rgb(59, 47, 92);
}


button {
    text-decoration: none;
    border: 1px white;
}